.card {
    border: 1px solid #000000;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    word-break: break-word;
    text-align: center;
}

.card:hover {
    cursor: pointer;
}
