.container {
    background: #FFFFFF;
    border-radius: 6px;
    border: 1px solid #EEEEEE;
    padding: 12px;
    flex: 1;
}

.cardContainer {
    display: grid;
    grid-template-columns: repeat(4,1fr) ;
    grid-gap: 16px;
}
