.card:not(:last-child) {
    border-bottom: 1px solid #EEEEEE;
}

.card:hover {
    cursor: pointer;
}

.content p {
    word-break: break-word;
    text-align: justify;
}

.containerFormEdit {
    margin: 12px 0;
}

.ActionButtonContainer {
    margin-bottom: 20px;
}
