.container {
    background: #FFFFFF;
    box-shadow: 0 1px 4px #888888;
    position: sticky;
    top: 0;
    margin-bottom: 20px;
}

.container .header {
    width: 1024px;
    margin: auto;
    padding: 12px;
}

.container .header .logo {
    height: 42px;
}
